body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

a {
    color: #8ff;
}

#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

#menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.element img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 5px auto;
}

.element {
    width: 120px;
    height: 160px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 8px;
}

.element .symbol {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.element .details {
    font-size: 9px;
    line-height: 12px;
    text-align: center;
}

button {
    color: rgba(127, 255, 255, 0.75);
    background: transparent;
    outline: 1px solid rgba(127, 255, 255, 0.75);
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 255, 255, 0.5);
}

button:active {
    color: #000;
    background-color: rgba(0, 255, 255, 0.75);
}